.commentIcon {
    cursor: pointer;
    position: absolute;
    bottom: 55px;
    left: 5px;
}

.commentIcon:hover {
    background-color: rgb(238,238,238);
    outline: rgb(208,208,208) solid 2px;
}

.externalAppCommentIcon {
    cursor:hand;
    bottom: 55px;
    left: 5px;
}
