.appName {
    cursor: pointer;
    color: black;
    font-size: 12px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.appName:hover {
    text-decoration: underline;
}

.appDisabled {
    color: red;
    font-size: 12px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
