@sprite .favorite {
    gwt-image: "favIcon";
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 4px;
}

@sprite .favorite:hover {
    gwt-image: "favIconDelete";
    background-color: rgb(238,238,238);
    outline: rgb(208,208,208) solid 2px;
}

@sprite .favoriteDisabled {
    gwt-image: "disabledFavIcon";
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 4px;
}

@sprite .favoriteDisabled:hover {
    gwt-image: "disabledFavIcon";
    background-color: rgb(238,238,238);
    outline: rgb(208,208,208) solid 2px;
}

@sprite .favoriteAdd {
	gwt-image: "disabledFavIcon";
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 4px;
}

@sprite .favoriteAdd:hover {
    gwt-image: "favIconAdd";
    background-color: rgb(238,238,238);
    outline: rgb(208,208,208) solid 2px;
}
